<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.satori.qq"
    android:versionCode="34"
    android:versionName="0.8.8">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
    <application
        android:label="Kernel Bridge"
        android:hasCode="true"
        android:extractNativeLibs="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Runtime compatibility bridge" />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data android:name="xposedscope" android:value="com.tencent.mobileqq" />
    </application>
</manifest>
